# Node.js dependencies
node_modules/

# Build output (for TypeScript projects)
dist/
build/

# Logs & debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log
logs/
*.log

# Local environment variables
.env
.env.local
.env.development.loca

dist/
node_modules/
.env